InventoryBar
{
	position: absolute;
	width: 100%;
	bottom: 106px;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column-reverse;
}

InventoryIcon {
	width: 85px;
	height: 75px;
	margin: 0px 100px;
	position: relative;
	transition: all 0.6s ease-in-out;
	margin-top: 10px;
	//font-family: poppins;
	font-family: Roboto;
	//background-color: rgba( #4F9C87, .1 );
	background-color: rgba( #fa02, .1 );
	backdrop-filter: blur( 2px );
	border: 1px solid rgba( #fa0, 0.08 );
	border-radius: 3px;

	.item-name {
		padding: 5px;
		color: #fc0;
		text-align: center;
		left: 0;
		right: 0;
		font-size: 10px;
		position: absolute;
		bottom: 0;
		opacity: 0.7;
		transition: all 0.5s ease-in-out;
		text-transform: uppercase;
		mix-blend-mode: lighten;
	}

	.slot-number {
		font-size: 25px;
		color: #fc0;
		font-weight: 900;
		opacity: 0.3;
		position: absolute;
		top: 1px;
		right: 5px;
	}

	&.active {
		//background-color: rgba( #52B37D, .5 );
		background-color: rgba( f50, .5 );
		transition: all 0.1s ease-out;
		width: 95px;
		height: 90px;

		.slot-number {
			//color: #fff;
			color: #ff0;
			opacity: 1;
		}

		.item-name {
			opacity: 1;
			transition: all 0.1s ease-out;
			font-size: 15px;
		}
	}
}