InventoryBar
{
	position: absolute;
	width: 100%;
	bottom: 106px;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column-reverse;
}

InventoryIcon {
	//width: 220px;
	width: 240px;
	height: 70px;
	margin: 0px 110px;
	position: relative;
	transition: all 0.1s ease-in-out;
	margin-top: 4px;
	//font-family: poppins;
	font-family: Roboto;
	background-image: linear-gradient(to left, rgba( #000000, .5 ), rgba( #000000, 0 ));


	.right-bar {
		left: 100%;
		opacity: 0.1;
		transition: all 0.1s ease-out;
		mix-blend-mode: lighten;
		//background-color: springgreen;
		//background-color: #5EF23D;
		//background-color: var(--rarity-color, darkred);
		background-color: white;
	}

	.icon {
		width: 140px;
		height: 140px;
		background-size: 100%;
		//background-image-tint: #4E9E89;
		//background-image-tint: #50B3B5;
		background-image-tint: #C5E0E3;
		position: absolute;
		left: 95px;
		top: -35px;
		opacity: .1;
		transition: all 0.1s ease-out;
	}

	.glyph {
		width: 32px;
		height: 32px;
		background-size: 100%;
		//background-image-tint: #4E9E89;
		//background-image-tint: #50B3B5;
		background-image-tint: #C5E0E3;
		position: absolute;
		right: -50px;
		top: 25%;
		opacity: .1;
		transition: all 0.1s ease-out;
	}

	.ammo-count {
		font-size: 25px;
		color: #C5E0E3;
		font-weight: 900;
		opacity: 0.1;
		position: absolute;
		top: 10%;
		right: 160px;
		transition: all 0.1s ease-out;
	}

	.ammo-reserve {
		font-size: 20px;
		color: #90A4A6;
		font-weight: 500;
		opacity: 0.1;
		position: absolute;
		top: 50%;
		right: 160px;
		transition: all 0.1s ease-out;
	}

	&.active {
		//background-color: rgba( #52B37D, .5 );
		background-image: linear-gradient(to left, rgba( #070707, 1 ), rgba( #070707, .0 ));
		transition: all 0.1s ease-out;
		//width: 190px;
		//height: 60px;

		.icon {
			opacity: 1;
			transition: all 0.1s ease-out;
		}

		.right-bar {
			opacity: 1;
			transition: all 0.1s ease-out;
		}

		.glyph {
			opacity: 1;
			transition: all 0.1s ease-out;
		}

		.ammo-count {
			opacity: 1;
			transition: all 0.1s ease-out;
		}

		.ammo-reserve {
			opacity: 1;
			transition: all 0.1s ease-out;
		}
	}
	// smaller icon for things like grenades
	&.small {
		width: 90px;
		height: 60px;

		.icon {
			width: 100px;
			height: 100px;
			left: 10px;
			top: -20px;
		}

		.ammo-count {
			right: 60px;
			top: 25%;
		}
	}
	// hide the smaller icons when empty
	&.hidden {
		opacity: 0;
		width: 90px;
		height: 20px;
		transition: all 0.1s ease-out;
	}
}