InventoryBar
{
	position: absolute;
	width: 100%;
	bottom: 48px;
	justify-content: center;
	align-items: flex-end;
}

InventoryIcon
{
	width: 80px;
	height: 80px;
	margin: 0px 2px;
	position: relative;
	transition: all 0.6s ease-in-out;
	margin-top: 10px;
	font-family: poppins;
	background-color: rgba( #333, 0.3 );
	backdrop-filter: blur( 50px );
	border-radius: 10px;

	.item-name
	{
		padding: 5px;
		color: white;
		text-align: center;
		left: 0;
		right: 0;
		font-size: 10px;
		position: absolute;
		bottom: 0;
		opacity: 0.7;
		transition: all 0.5s ease-in-out;
		text-transform: uppercase;
		mix-blend-mode: lighten;
	}

	.slot-number
	{
		font-size: 25px;
		color: black;
		font-weight: 900;
		opacity: 0.3;
		position: absolute;
		top: 1px;
		right: 5px;
	}

	&.active
	{
		background-color: rgba( #3472e6, 1 );
		transition: all 0.1s ease-out;
		width: 100px;
		height: 100px;

		.slot-number
		{
			color: #fff;
			opacity : 1;
		}

		.item-name
		{
			opacity: 1;
			transition: all 0.1s ease-out;
			font-size: 13px;
		}
	}
}