StaminaBar {
	position: absolute;
	transform: translateX(-50%);
	//bottom: 80px;
	left: 50%;
	width: 200px;
	height: 10px;
	//margin: 0px 110px;
	transition: all 0.1s ease-in-out;
	font-family: Roboto;
	//background-color: white;



	.bar-gray {
		height: 10px;
		width: 200px;
		opacity: .5;
		position: absolute;
		transition: all 0.1s ease-out;
		mix-blend-mode: lighten;
		background-color: white;
	}

	.bar {
		height: 10px;
		width: 200px;
		opacity: 1;
		position: absolute;
		transition: all 0.1s ease-out;
		mix-blend-mode: lighten;
		background-color: springgreen;
	}
}
