
.codegen/
obj/
code/accesslist.txt
.intermediate
tools_asset_info.bin
code/Properties/launchSettings.json
dm98.csproj
Properties/launchSettings.json
*.csproj
.vs
*.generated.*
*_c
*.vmat_c
*.vmdl_c
*.vtex_c
*.vsnd_c
*.vanmgrph_c
*.sound_c
weapons/licensed/*